<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elephant111.mapper.UserMapper">
    <select id="queryUserList" resultType="com.elephant111.domain.User">
        select * from users
    </select>
</mapper>
<!--配置映射关系，将实体和数据库关联起来-->